@tailwind base;
@tailwind components;
@tailwind utilities;

@import './App.css';
@import './Contact.css';
@import './Footer.css';
@import './Header.css';
@import './Home.css';
@import './Portfolio.css';
@import './Services.css';

body {
  @apply text-base;
  @apply font-text_font;
  @apply text-primary;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex; /* Use flexbox to arrange children */
  flex-direction: column; /* Stack child elements vertically */
  min-height: 100vh; /* Set minimum height to fill the viewport */
}

footer {
  margin-top: auto; /* Push footer to the bottom */
}
